#foot{
    text-align: center;
}
.iconfont,
.layui-icon{
    margin-right: 8px;
    
}
.layui-icon{
    margin-left: 20px;
}
.textAvatar{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: green;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}
.layui-side .userInfor{
}
.top{
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid black;

}